body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1542px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:157px;
}
#u131 {
  position:absolute;
  left:900px;
  top:60px;
  width:650px;
  height:157px;
}
#u132 {
  position:absolute;
  left:2px;
  top:70px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1550px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.43921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:transparent;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:1550px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:transparent;
}
#u134 {
  position:absolute;
  left:2px;
  top:18px;
  width:1546px;
  word-wrap:break-word;
}
#u135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(22, 155, 213, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u135 {
  position:absolute;
  left:1200px;
  top:20px;
  width:60px;
  height:20px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u135_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u135.mouseOver {
}
#u136 {
  position:absolute;
  left:2px;
  top:3px;
  width:56px;
  word-wrap:break-word;
}
#u137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u137 {
  position:absolute;
  left:1400px;
  top:20px;
  width:60px;
  height:20px;
  color:#000000;
}
#u137_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u137.mouseOver {
}
#u138 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u139 {
  position:absolute;
  left:1000px;
  top:20px;
  width:60px;
  height:20px;
  color:#000000;
}
#u139_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u139.mouseOver {
}
#u140 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6666FF;
}
#u141 {
  position:absolute;
  left:1100px;
  top:20px;
  width:60px;
  height:20px;
  color:#6666FF;
}
#u141_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6666FF;
}
#u141.mouseOver {
}
#u142 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u143 {
  position:absolute;
  left:1300px;
  top:20px;
  width:60px;
  height:20px;
  color:#000000;
}
#u143_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u143.mouseOver {
}
#u144 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:739px;
  height:383px;
}
#u145 {
  position:absolute;
  left:811px;
  top:217px;
  width:739px;
  height:383px;
}
#u146 {
  position:absolute;
  left:2px;
  top:184px;
  width:735px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:819px;
  height:102px;
  background:inherit;
  background-color:rgba(153, 51, 0, 0.47843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u147 {
  position:absolute;
  left:-8px;
  top:498px;
  width:819px;
  height:102px;
}
#u148 {
  position:absolute;
  left:2px;
  top:43px;
  width:815px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u149 {
  position:absolute;
  left:241px;
  top:524px;
  width:349px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  word-wrap:break-word;
}
#u151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1550px;
  height:604px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭超细黑简体 Bold', '方正兰亭超细黑简体';
  font-style:normal;
  text-align:center;
}
#u151 {
  position:absolute;
  left:-8px;
  top:661px;
  width:1550px;
  height:604px;
  font-family:'方正兰亭超细黑简体 Bold', '方正兰亭超细黑简体';
  font-style:normal;
  text-align:center;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:1550px;
  word-wrap:break-word;
}
#u153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(22, 155, 213, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u153 {
  position:absolute;
  left:1200px;
  top:20px;
  width:60px;
  height:20px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u153_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u153.mouseOver {
}
#u154 {
  position:absolute;
  left:2px;
  top:3px;
  width:56px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:1170px;
  top:40px;
  width:120px;
  height:300px;
  overflow:hidden;
  visibility:hidden;
}
#u155_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:300px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u155_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000CC;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
  color:#0000CC;
}
#u156_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
  background:inherit;
  background-color:rgba(122, 165, 243, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000CC;
}
#u156.mouseOver {
}
#u157 {
  position:absolute;
  left:2px;
  top:18px;
  width:156px;
  word-wrap:break-word;
}
#u158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000CC;
}
#u158 {
  position:absolute;
  left:0px;
  top:50px;
  width:160px;
  height:50px;
  color:#0000CC;
}
#u158_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
  background:inherit;
  background-color:rgba(122, 165, 243, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000CC;
}
#u158.mouseOver {
}
#u159 {
  position:absolute;
  left:2px;
  top:18px;
  width:156px;
  word-wrap:break-word;
}
#u160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000CC;
}
#u160 {
  position:absolute;
  left:0px;
  top:100px;
  width:160px;
  height:50px;
  color:#0000CC;
}
#u160_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
  background:inherit;
  background-color:rgba(122, 165, 243, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000CC;
}
#u160.mouseOver {
}
#u161 {
  position:absolute;
  left:2px;
  top:18px;
  width:156px;
  word-wrap:break-word;
}
#u162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000CC;
}
#u162 {
  position:absolute;
  left:0px;
  top:150px;
  width:160px;
  height:50px;
  color:#0000CC;
}
#u162_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
  background:inherit;
  background-color:rgba(122, 165, 243, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000CC;
}
#u162.mouseOver {
}
#u163 {
  position:absolute;
  left:2px;
  top:18px;
  width:156px;
  word-wrap:break-word;
}
#u164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000CC;
}
#u164 {
  position:absolute;
  left:0px;
  top:200px;
  width:160px;
  height:50px;
  color:#0000CC;
}
#u164_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
  background:inherit;
  background-color:rgba(122, 165, 243, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000CC;
}
#u164.mouseOver {
}
#u165 {
  position:absolute;
  left:2px;
  top:18px;
  width:156px;
  word-wrap:break-word;
}
#u166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000CC;
}
#u166 {
  position:absolute;
  left:0px;
  top:250px;
  width:160px;
  height:50px;
  color:#0000CC;
}
#u166_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
  background:inherit;
  background-color:rgba(122, 165, 243, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000CC;
}
#u166.mouseOver {
}
#u167 {
  position:absolute;
  left:2px;
  top:18px;
  width:156px;
  word-wrap:break-word;
}
#u168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u168 {
  position:absolute;
  left:1400px;
  top:20px;
  width:60px;
  height:20px;
  color:#000000;
}
#u168_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u168.mouseOver {
}
#u169 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u170 {
  position:absolute;
  left:1000px;
  top:20px;
  width:60px;
  height:20px;
  color:#000000;
}
#u170_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u170.mouseOver {
}
#u171 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6666FF;
}
#u172 {
  position:absolute;
  left:1100px;
  top:20px;
  width:60px;
  height:20px;
  color:#6666FF;
}
#u172_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6666FF;
}
#u172.mouseOver {
}
#u173 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u174 {
  position:absolute;
  left:1300px;
  top:20px;
  width:60px;
  height:20px;
  color:#000000;
}
#u174_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u174.mouseOver {
}
#u175 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1550px;
  height:296px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u176 {
  position:absolute;
  left:0px;
  top:1323px;
  width:1550px;
  height:296px;
}
#u177 {
  position:absolute;
  left:2px;
  top:140px;
  width:1546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:185px;
}
#u178 {
  position:absolute;
  left:150px;
  top:1275px;
  width:185px;
  height:185px;
}
#u179 {
  position:absolute;
  left:2px;
  top:84px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新細明體-ExtB Regular', '新細明體-ExtB';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u180 {
  position:absolute;
  left:477px;
  top:1353px;
  width:510px;
  height:34px;
  font-family:'新細明體-ExtB Regular', '新細明體-ExtB';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  white-space:nowrap;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:61px;
}
#u182 {
  position:absolute;
  left:50px;
  top:0px;
  width:196px;
  height:61px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u183 {
  position:absolute;
  left:2px;
  top:22px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:60px;
}
#u184 {
  position:absolute;
  left:400px;
  top:921px;
  width:750px;
  height:60px;
}
#u185 {
  position:absolute;
  left:2px;
  top:22px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u186 {
  position:absolute;
  left:925px;
  top:624px;
  width:50px;
  height:50px;
}
#u187 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:438px;
}
#u188 {
  position:absolute;
  left:0px;
  top:60px;
  width:900px;
  height:438px;
}
#u189 {
  position:absolute;
  left:2px;
  top:211px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
